* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: 'Prompt', sans-serif;
}
.body-container{
  width: 100%;
  height: 100vh;
  background-color:#000;
  display:flex;
  flex-direction: column;
}  



  .body-card {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #000;
  
  }

  .card{
    width: 20%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(225 225 225);
    font-size: 15px;

  }

  .image-card {
    width: 80%;
    height: 60%;
    object-fit:cover;
    -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
    transform-origin:center;
    transform:perspective(800px) rotateY(25deg);
    transition:0.5s;
   
    
    
  }

  .container-card {
    display:flex;
    flex-wrap: wrap;
  }

  .container-card:hover .image-card {
    opacity:0.3;
  }


  .container-card .image-card:hover {
    transform:perspective(800px)       rotateY(0deg);
    opacity:1;
  }
/*--------------------------------------------------------------------------------------*/
  

.container_back_btn_card{
    
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 60px;
    text-align: center;
    width: 100%;
    border: 2px solid white;
  }

.container_back_btn_card:active{
 background-color: #06b;
}

.container_back_btn_card{
  align-self: center;
  width: 20%;
  background-color: rgb(34, 32, 32);
}

/*--------------------------------------------------------------------------------------*/

.container_back_card {
width: 100%;
display: flex;
justify-content: center;
background-color: #000;
}




/*--------------------------------------------------------------------------------------*/
